.app {
    width: min(100%, 600px);
    margin-inline: auto;
    display: flex;
    justify-content: center;
}

h1, h2, h3 {
    text-align: center;
}

a {
    color: #0000ee;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}